<nav>
    {%- set navPages = collections.allPathSorted | eleventyNavigation %}
    {%- macro renderNavListItem(entry) -%}
    {# <!-- {{ entry | dump | safe }} --> #}
    <li{% if entry.url == page.url %} class="active"{% endif %}{# data-nav-key="{{ entry.key }}" data-nav-parent="{{ entry.parent | d('top') }}"#}>
        <a href="{{ entry.url }}">{{ entry.title }}</a>
        {%- if entry.children.length -%}
        <ul>
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
        {%- endif -%}
    </li>
    {%- endmacro %}

    <ul>
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{% endfor -%}
    </ul>   

    {#- {{ navPages | dump | safe }} #}
</nav>
