
@font-face {
  font-family: 'PT Astra Sans';
  src:
    url('../fonts/pt-astra-sans_regular.woff2') format('woff2'),
    url('../fonts/pt-astra-sans_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src:
    url('../fonts/pt-mono_regular.woff2') format('woff2'),
    url('../fonts/pt-mono_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* src: url('/assets/fonts/Material-Icons/material-icons.ttf'); // For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('/assets/fonts/Material-Icons/material-icons.woff2') format('woff2'),
    url('/assets/fonts/Material-Icons/material-icons.woff') format('woff'),
    url('/assets/fonts/Material-Icons/material-icons.ttf') format('truetype');
}

html {
  font-family: PT Astra Sans, sans-serif;
  scroll-behavior: smooth;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
  scroll-margin-top: 5rem;
}

pre {
  /* line-height: 1.75; */
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-inline-end: 1.5em;
  padding-bottom: 1em;
  padding-inline-start: 1.5em ;
  color: lightgray;
  background-color: darkslategray;
}

pre > code {
  padding: 0.2em 0.4em;
  color: lightgray;
  background-color: darkslategray;
}

code {
  padding: 0.2em 0.4em;
  color: darkslategray;
  background-color: lightgray;
}

kbd {
  font-weight: 500;
  font-family: inherit;
  color: darkslategray;
  box-shadow: 0 0 0 1px darkslategray, 0 3px 0 darkslategray;
  font-size: 87.5%;
}


code, kbd, samp, pre {
  white-space: pre-wrap;
  white-space-collapse: preserve;

  font-family: PT Mono, ui-monospace, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 85%;
  padding-top: 0.1875em;
  padding-inline-end: 0.375em;
  padding-bottom: 0.1875em;
  padding-inline-start: 0.375em;
  border-radius: 0.3125rem;
}

blockquote {
  margin-left: 0;
  padding: 0 15px;
  color: dimgray;
  border-left: 4px solid dimgray;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;

}
footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: .5rem;
  background-color: lightblue;
  z-index: 1020;
  
}
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: .5rem;
  background-color: lightblue;
  z-index: 1020;
}
header > p {
  font-size: 3rem;
  margin: 0;
}
header nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: lightblue;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  list-style: none;
}
header nav ul li {
  padding: .5rem 1rem;
}
nav {
  display: block;
  width: 100%;
  padding: .5rem;
  background: lightgray;
}
nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* padding-left: .5rem; */
  list-style: none;
}
nav ul li {
  padding: .5rem .5rem;
}

nav li > a {
  text-decoration: none;
}
nav li.active > a {
  font-weight: bold;
}
section {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: minmax(20%, 1fr) minmax(auto, calc(80% - 1.5rem));
  gap: 1.5rem;
  width: 100%;
  padding: .5rem;
  /* margin-right: auto; */
  /* margin-left: auto; */
}

section > aside {
  grid-area: sidebar;
  position: sticky;
  top: 5rem;
  display: block;
  height: calc(100vh - 10rem);
  /* padding-left: 0.25rem; */
  /* margin-left: -0.25rem; */
  overflow-y: auto;
}
section > main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(calc(80% - 1.5rem), auto) minmax(20%, 1fr);
  gap: inherit;
  grid-template-areas: "content toc";
  padding-right: .5rem;
  padding-left: .5rem;
  /* margin-right: auto; */
  /* margin-left: auto; */
  
}
main > div {
  grid-area: content;

}
section > main > aside {
  grid-area: toc;
  position: sticky;
  top: 5rem;
  right: 0;
  z-index: 2;
  height: calc(100vh - 10rem);
  overflow-y: auto;
}


.example {
  padding: 1rem;
  color: lightgrey;
  background: darkslategray;
}

figure.example {
  margin-inline: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
}

.example iframe, .example div {
  display: block;
  width: 100%;
  border: 0;
  color: black;
  background-color: lightgray;
}

table.fs-tree-table  {
  display: block;
  /* font-size:12px; */
}
table.fs-tree-table tbody {
  border: 1px solid #8888;
  /* overflow: hidden; */
}
table.fs-tree-table tr td {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.2;
}
table.fs-tree-table tr td:first-child {
  font-family: monospace;
  /* border-bottom: none; */
  /* border-top: none; */
  white-space: pre;
}

/**
* @credits https://github.com/qjebbs/vscode-markdown-extended
* @copyright 2018 jebbs
* @license MIT
*/

.admonition {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  position: relative;
  margin: 1.5625em 0;
  padding: 0 1.2rem;
  border-left: .4rem solid rgba(68, 138, 255, .8);
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: auto;
}

.admonition>p {
  margin-top: .8rem;
}

.admonition>.admonition-title {
  margin: 0 -1.2rem;
  padding: .8rem 1.0rem .8rem 1.0rem;
  border-bottom: 1px solid rgba(68, 138, 255, .2);
  background-color: rgba(68, 138, 255, .1);
  font-weight: 700;
}

.admonition>.admonition-title:before {
  position: absolute;
  left: 1.0rem;
  font-size: 1.5rem;
  /* color: rgba(68, 138, 255, .8); */
  /* content: "\f05b"; */
}

.admonition>.admonition-title:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  }

.admonition.note>.admonition-title {
  padding-left: 3.3rem;
}

.admonition.note>.admonition-title:before {
  color: rgba(68, 138, 255, .8);
  content: "\f05b";
}

.admonition.summary, .admonition.abstract, .admonition.tldr {
  border-left-color: rgba(0, 176, 255, .8);
}

.admonition.summary>.admonition-title, .admonition.abstract>.admonition-title, .admonition.tldr>.admonition-title {
  background-color: rgba(0, 176, 255, .1);
  border-bottom-color: rgba(0, 176, 255, .2);
  padding-left: 3.3rem;
}

.admonition.summary>.admonition-title:before, .admonition.abstract>.admonition-title:before, .admonition.tldr>.admonition-title:before {
  color: rgba(0, 176, 255, 1);
  content: "\E8D2";
}

.admonition.hint, .admonition.tip {
  border-left-color: rgba(0, 191, 165, .8);
}

.admonition.hint>.admonition-title, .admonition.tip>.admonition-title {
  background-color: rgba(0, 191, 165, .1);
  border-bottom-color: rgba(0, 191, 165, .2);
  padding-left: 3.3rem;
}

.admonition.hint>.admonition-title:before, .admonition.tip>.admonition-title:before {
  color: rgba(0, 191, 165, 1);
  content: "\E80E";
}

.admonition.info, .admonition.todo {
  border-left-color: rgba(0, 184, 212, .8);
}

.admonition.info>.admonition-title, .admonition.todo>.admonition-title {
  background-color: rgba(0, 184, 212, .1);
  border-bottom-color: rgba(0, 184, 212, .2);
  padding-left: 3.3rem;
}

.admonition.info>.admonition-title:before, .admonition.todo>.admonition-title:before {
  color: rgba(0, 184, 212, 1);
  content: "\E88E";
}

.admonition.success, .admonition.check, .admonition.done {
  border-left-color: rgba(0, 200, 83, .8);
}

.admonition.success>.admonition-title, .admonition.check>.admonition-title, .admonition.done>.admonition-title {
  background-color: rgba(0, 200, 83, .1);
  border-bottom-color: rgba(0, 200, 83, .2);
  padding-left: 3.3rem;
}

.admonition.success>.admonition-title:before, .admonition.check>.admonition-title:before, .admonition.done>.admonition-title:before {
  color: rgba(0, 200, 83, 1);
  content: "\E876";
}

.admonition.question, .admonition.help, .admonition.faq {
  border-left-color: rgba(100, 221, 23, .8);
}

.admonition.question>.admonition-title, .admonition.help>.admonition-title, .admonition.faq>.admonition-title {
  background-color: rgba(100, 221, 23, .1);
  border-bottom-color: rgba(100, 221, 23, .2);
  padding-left: 3.3rem;
}

.admonition.question>.admonition-title:before, .admonition.help>.admonition-title:before, .admonition.faq>.admonition-title:before {
  color: rgba(100, 221, 23, 1);
  content: "\E887";
}

.admonition.warning, .admonition.attention, .admonition.caution {
  border-left-color: rgba(255, 145, 0, .8);
}

.admonition.warning>.admonition-title, .admonition.attention>.admonition-title, .admonition.caution>.admonition-title {
  background-color: rgba(255, 145, 0, .1);
  border-bottom-color: rgba(255, 145, 0, .2);
  padding-left: 3.3rem;
}

.admonition.attention>.admonition-title:before {
  color: rgba(255, 145, 0, 1);
  content: "\E417";
}

.admonition.warning>.admonition-title:before, .admonition.caution>.admonition-title:before {
  color: rgba(255, 145, 0, 1);
  content: "\E002";
}

.admonition.failure, .admonition.fail, .admonition.missing {
  border-left-color: rgba(255, 82, 82, .8);
}

.admonition.failure>.admonition-title, .admonition.fail>.admonition-title, .admonition.missing>.admonition-title {
  background-color: rgba(255, 82, 82, .1);
  border-bottom-color: rgba(255, 82, 82, .2);
  padding-left: 3.3rem;
}

.admonition.failure>.admonition-title:before, .admonition.fail>.admonition-title:before, .admonition.missing>.admonition-title:before {
  color: rgba(255, 82, 82, 1);
  content: "\E14C";
}

.admonition.danger, .admonition.error, .admonition.bug {
  border-left-color: rgba(255, 23, 68, .8);
}

.admonition.danger>.admonition-title, .admonition.error>.admonition-title, .admonition.bug>.admonition-title {
  background-color: rgba(255, 23, 68, .1);
  border-bottom-color: rgba(255, 23, 68, .2);
  padding-left: 3.3rem;
}

.admonition.danger>.admonition-title:before {
  color: rgba(255, 23, 68, 1);
  content: "\E3E7";
}

.admonition.error>.admonition-title:before {
  color: rgba(255, 23, 68, 1);
  content: "\e000";
}

.admonition.bug>.admonition-title:before {
  color: rgba(255, 23, 68, 1);
  content: "\E868";
}

.admonition.example, .admonition.snippet {
  border-left-color: rgba(0, 184, 212, .8);
}

.admonition.example>.admonition-title, .admonition.snippet>.admonition-title {
  background-color: rgba(0, 184, 212, .1);
  border-bottom-color: rgba(0, 184, 212, .2);
  padding-left: 3.3rem;
}

.admonition.example>.admonition-title:before, .admonition.snippet>.admonition-title:before {
  color: rgba(0, 184, 212, 1);
  content: "\e86f";
}

.admonition.quote, .admonition.cite {
  border-left-color: rgba(158, 158, 158, .8);
}

.admonition.quote>.admonition-title, .admonition.cite>.admonition-title {
  background-color: rgba(158, 158, 158, .1);
  border-bottom-color: rgba(158, 158, 158, .2);
  padding-left: 3.3rem;
}

.admonition.quote>.admonition-title:before, .admonition.cite>.admonition-title:before {
  color: rgba(158, 158, 158, 1);
  content: "\E244";
}
